/* Codigo para la barra de navegaci칩n y logo (Pagina Index) */
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Signika+Negative&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Agbalumo", sans-serif;
}

body {
    background-image: url(../Images/pizza-pattern.jpg);
}
/* Page 1 - Navbar */

    .navbar-brand, .navbar-nav, .nav-link {
        text-transform: uppercase;
    }

/* Page 1 - Imagen de fondo - main */
main {
    margin-top: 40px;
    height: 100%;
    width: 100%;
    background-color: #333;
    background-image: url(../Images/pizza-4952508_1920.jpg);
    background-size: cover;
    background-position: center;
}

main h1 {
    text-transform: uppercase;
    font-size: 2rem;
    text-align: left;
    color: #fff;
}

main p {
    font-size: 1rem;
    text-align: left;
    color: #fff;
}

.img-container {
    display: flex;
}

/* Bot칩n "Mas Info" */
.call {
    color: #fff;
    width: 50%;
    border: 5px solid orange;
    border-radius: 15px;
    float: left;
    margin: 30px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

h1 {
    color: #fff;
    margin-bottom: 20px;
}

.call p {
    margin-bottom: 20px;
}

.call a {
    color: #fff;
    background-color: orange;
    text-decoration: none;
    padding: 10px 30px;
}

.call a:hover {
    background-color: #333;
}

/* inicio de media queries */

@media only screen and (min-width:400px) {
    main, .call{
        overflow:auto;
    }
    
}

/* Pagina 2 Productos */

.h2-galeria{
    margin-top: 55px;
    text-align: center;
    color: #000;
    font-size: 35px;
}

.h2-galeria2{
    color: #000;
}

.galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 200px);
    padding: 20px;
    grid-gap: 15px;
}

.item {
    border: 5px solid #000;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.item1 {
    background-image: url(../Images/Napolitana.jpg);
}

.item2 {
    background-image: url(../Images/margherita.jpg);
}

.item3 {
    background-image: url(../Images/jamon\ y\ champi침ones.jpg);
}

.item4 {
    background-image: url(../Images/Cuatro-estaciones.jpg);
}

.item5 {
    background-image: url(../Images/capricciosa.jpg);
}

.item6 {
    background-image: url(../Images/cuatroquesos.jpg);
}

.item7 {
    background-image: url(../Images/verdurassaleepepe.avif);
}

.item8 {
    background-image: url(../Images/pizza-miti.jpg);
}

.item9{
    background-image: url(../Images/regional-calabresa.jpg);
}

.item10{
    background-image: url(../Images/regional-jamonymorrones.jpg);
}

.item11{
    background-image: url(../Images/regional-showdeaceitunas.jpg);
}

.item12{
    background-image: url(../Images/regional-muzarella.jpg);
}

.item13{
    background-image: url(../Images/regional-champi침ones.jpg);
}

.item14{
    background-image: url(../Images/regional-humita.jpg);
}

.item15{
    background-image: url(../Images/regional-vegan.jpg);
}

.item16{
    background-image: url(../Images/regional-La\ vendetta.jpg);
}

/* Inicio de las media queries */

@media only screen and (min-width:480px) {
    .galeria{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 200px);
    }
}

@media only screen and (min-width:768px) {
    .galeria{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width:1024px) {
    .galeria{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 200px);
    }
}

/* Pagina 3 servicios */

.Service_Sec1 {
    margin-top: 15px;
    height: 100%;
    width: 100%;
    background-color: #333;
    background-image: url(../Images/pizza-4952509_1920.jpg);
    background-size: auto;
    background-position: center;
    padding: 50px;
}

.call_Service {
    color: #fff;
    width: 60%;
    text-align: left;
}

.call_Service2 {
    color: #fff;
    width: 60%;
    margin: 50px 0;
}

.call_Service3 {
    color: #fff;
    width: 60%;
    margin: 50px 0;
}

h3, h2 {
    color: #fff;
    font-size: 35px;
    text-align: center;
}

/* Pagina 4 (nosotros) */

.nosotros {
    margin-top: 45px;
    height: 100vh;
    width: 100%;
    background-color: #333;
    background-image: url(../Images/ristorant.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.page-nosotros {
    color: #fff;
    width: 50%;
    border: 5px solid orange;
    border-radius: 15px;
    float: right;
    margin: 30px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

.page-nosotros a {
    color: #fff;
    background-color: orange;
    text-decoration: none;
    padding: 10px 30px;
}

.page-nosotros a:hover {
    background-color: #333;
}

.page-nosotros p {
    margin-bottom: 20px;
}

/* Inicio de media queries */

@media only screen and (min-width:400px) {
    .nosotros, .page-nosotros{
        overflow:auto;
    }
    
}

/* Footer */

footer a {
    text-decoration: none;
    font-size: 17px;
}

footer p {
    font-size: 17px;
}

footer a:hover {
    color: #0D6EFD !important;
}

i {
    font-size: 25px;
}